body
{
    font-family: "微软雅黑";
    font-size: 12px;
}
.input-file {
    overflow: hidden;
    position: relative;
}
.input-file input {
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
#uploadTable {
    width: 500px;
    border-collapse: collapse;
    border: 1px solid Silver;
}